@page "/note/{Filename?}"

@using TryMauiBlazor.Models

<Title BackButton Value="@(Filename == null ? "New Note" : "Edit Note")" />

<MudOverlay Visible="@_isLoading" DarkBackground="true">
    <div class="d-flex justify-center">
        <MudProgressCircular Class="mt-2" Size="Size.Medium" Indeterminate="true" Color="Color.Inherit" />
    </div>
</MudOverlay>

<MudGrid>
    <MudItem xs="12">
        <MudTextField Label="Enter your note" Variant="Variant.Text" @bind-Value="_note.Text" Lines="5" />
    </MudItem>

    <MudItem xs="6">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth StartIcon="@Icons.Filled.Save"
                   OnClick="OnSaveButtonClicked" Disabled="@(_isProcessing)">
            Save
            <ButtonLoadingOverlay Visible="@_isSaving" />
        </MudButton>
    </MudItem>
    <MudItem xs="6">
        <MudButton Variant="Variant.Filled" Color="Color.Secondary" FullWidth StartIcon="@Icons.Filled.Delete"
                   OnClick="OnDeleteButtonClicked" Disabled="@(!_isFileExist || _isProcessing)">
            Delete
            <ButtonLoadingOverlay Visible="@_isDeleting" />
        </MudButton>
    </MudItem>
</MudGrid>

@if (_imageBase64Source != null)
{
    <div class="mt-6" style="text-align: center;">
        <MudImage Src="@_imageBase64Source" Class="rounded-sm" Fluid />
        <MudButton Variant="Variant.Filled" Color="Color.Error" FullWidth StartIcon="@Icons.Filled.Delete"
               Class="mt-3" OnClick="DeleteImage">
            Delete Image
        </MudButton>
    </div>
}
else
{
    <MudGrid>
        <MudItem xs="6">
            <MudButton Variant="Variant.Filled" Color="Color.Success" FullWidth StartIcon="@Icons.Filled.Camera"
                   OnClick="TakePhoto" Disabled="ThisDevice.IsWinUI">
                Take Photo
            </MudButton>
        </MudItem>

        <MudItem xs="6">
            <MudButton Variant="Variant.Filled" Color="Color.Success" FullWidth StartIcon="@Icons.Filled.Image"
                   OnClick="PickImage">
                Pick Image
            </MudButton>
        </MudItem>
    </MudGrid>
}